<%= turbo_frame_tag dom_id(message), class: '',
    data: { controller: 'message', action: 'mouseout->message#toggleActions mouseover->message#toggleActions', 'message-author-id-value': message.author_id } do %>

  <div class="chat-item">
    <div class="row align-items-end <%= "#{'justify-content-end' if current_user == message.author}"%>">
      <div class="col col-lg-6">
        <div class="chat-bubble chat-bubble-me">
          <div class="chat-bubble-title">
            <div class="row">
              <div class="col chat-bubble-author"><%= h "#{message.author.admin? ? 'Staff' : message.author.email}" %></div>
              <div class="col-auto chat-bubble-date"><%= local_time message.created_at, format: :short, class: 'fw-light fs-7' %></div>
            </div>
          </div>
          <div class="chat-bubble-body">
            <p><%= format_message_content message.content  %></p>
          </div>
          <% if message.edited? %>
            <div class='col'>
              <span class='fw-light fs-7'>edited <%= local_time message.updated_at, format: :short %></span>
            </div>
          <% end %>
          <div class='col d-none' data-message-target='actions'>
            <%= link_to 'edit', edit_message_path(message), class: 'fs-7 link-secondary' %>
            <%= link_to 'delete', message_path(message), method: :delete, class: 'fs-7 link-secondary' %>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <span class="avatar"> 
          <% if message.author.admin?%>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"></path><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"></path></svg>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
