<div id="<%= dom_id structure %>">
  <p>
    <strong>Space:</strong>
    <%= structure.space_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= structure.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= structure.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= structure.status %>
  </p>

</div>