<div id="<%= dom_id response_template %>">
  <p>
    <strong>Structure:</strong>
    <%= response_template.structure_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= response_template.status %>
  </p>

  <p>
    <strong>Html:</strong>
    <%= response_template.content_html %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= response_template.content_text %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= response_template.enabled %>
  </p>

</div>