<%= turbo_frame_tag(answer) do%>
  <p>
    <strong>Structure:</strong>
    <%= answer.structure_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Form Data:</strong>
    <%= answer.form_data %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= answer.status %>
  </p>

  <p>
    <strong>Stared:</strong>
    <%= answer.stared %>
  </p>

  <% if answer.file_data.present? %>
    <div class="mb-3">
      <p>
        <strong>File:</strong>
        <%= link_to answer.filename, download_space_structure_answer_path(answer.structure.space, answer.structure, answer) %>
      </p>
    </div>
  <% end %>



    <div>
    <%= button_to "Accept", 
      space_structure_answer_path(@space, @structure, answer),
      method: :patch,
      params: { answer: { status: "accepted" } },
      data: { turbo_confirm: "Mark as accepted?" },
      class: "btn btn-animate-icon btn-animate-icon-tada btn-primary" %>
    </div>

</div>
<% end %>