<div id="<%= dom_id answer %>">
  <p>
    <strong>Structure:</strong>
    <%= answer.structure_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Form Data:</strong>
    <%= answer.form_data %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= answer.status %>
  </p>

  <p>
    <strong>Stared:</strong>
    <%= answer.stared %>
  </p>

</div>