<div id="<%= dom_id form_field %>">
  <p>
    <strong>Structure:</strong>
    <%= form_field.structure_id %>
  </p>

  <p>
    <strong>Field type:</strong>
    <%= form_field.field_type %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= form_field.position %>
  </p>

  <p>
    <strong>Required:</strong>
    <%= form_field.required %>
  </p>

</div>